<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiyun" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".db.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.MainActivity_xiejing" >
        </activity>
        <activity android:name=".activity.CuotiActivity" />
        <activity android:name=".activity.SoluActivity" />
        <activity android:name=".activity.ContentActivity" />
        <activity
            android:name=".activity.PoemGenerateActivity"
            android:label="@string/title_activity_poem_generate"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/textborder" />

        <activity android:name=".pra.ShiYi" />
        <activity android:name=".pra.TianKong" />
        <activity android:name=".pra.FeiHua" />
        <activity android:name=".activity.AnswerActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.OpenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.EditActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>